body {
    color: #404E67;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
}
/* header */
.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    text-transform: uppercase;
    color: #444;
    font-size: 5rem;
    letter-spacing: .4rem;
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:.2rem solid #ca4012;
    border-radius: .5rem;
    box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    color:#ca4012;
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: #ca4012;
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: #ca4012;
    color:#fff;
}

.btn:hover span{
    color: #ca4012;
    background:#fff;
    margin-left: 1rem;
}

.header{
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.header .logo img{
    border: 1px solid rgb(204, 79, 7);
    border-radius: 20px;
    width: 150px;
}

.header .navbar a{
    font-size: 1.7rem;
    color: #777;
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: #ca4012;
}

.header nav{
    padding-top: 22px; 
}

.header .navbar a:hover{
    color: #ca4012;
}


#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color: #ca4012;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}


/*list*/


.table-responsive{
    overflow-x: hidden;
}

.table-wrapper {
    margin: 30px auto;
    background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}


.detail{
    margin-top: 110px;
    
}
