/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}


/* 
1. nav
2. slide
3. doctor chinhs
4. cac buoc
5. feedback
6. news
7. dia chi
8. dki
*/

/* header */
.header{
    width: 100%;
    height: auto;
    background-color: white;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: hidden;
}

.nav{
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.nav .menuLeft ul li{
    display: inline-block;
    margin-top: 22px;
    padding: 0 15px;
}

.nav .menuRight ul li{
    display: inline-block;
    margin-top: 22px;
    padding: 0 15px;
}

.nav .logo img{
    border: 1px solid rgb(204, 79, 7);
    border-radius: 20px;
    width: 150px;
}

.nav a {
    text-decoration: none;
    list-style: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

/* slide */

.slidershow{
    width: 100%;
    height: 1000px;
    overflow: hidden;
    margin-top: 64px;
}

.middle{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background-color: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
    position: relative;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}

.slidershow .text-box{
    position: absolute;
    width: 750px;
    height: 200px;
    top: 450px;
    left: 200px;
    color: white;
    background-color: rgba(0, 0, 0, .2);
    padding: 10px 20px;
    display: flex;

}

.slidershow .text-box h1{
    margin: 10px 0;
    font-weight: 700;
}


.slide-content span{
    border: 1px solid #ca4012;
    display: block;
    width: 50px;
}

.slide-content p{
    margin: 10px 0;
}

.slidershow .slide a{
    position: absolute;
    background-color: #ca4012;
    border: 2px solid #ca4012;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: px;
}

/* content */
.content{
    margin-top: 935px;
    background-color: #ca4012af;
}

.content-section{
    display: inline-block;
}

.content-section .section-img{
    text-align: center;
    padding: 0;

}

.content-section .section-img img{
    height: 645px;
    width: 645px;
}
/* docter */

/* step */
.book{
    width: 100%;
    display: inline-block;
}

.step1{
    background-color: #cac712;
    height: 400px;
}
.step2{
    background-color: #12ca3a;
    height: 400px;

}
.step3{
    background-color: #ca121b;
    height: 400px;

}
.step4{
    background-color: #1296ca;
    height: 400px;

}
/* feedback */



/* .content-section .section-sub{
   
} */

.section-sub span{
    border: 1px solid #ca4012;
    display: block;
    width: 50px;
}

/* map */
.address img{
    width: 100%;
}

/* footer */
.footer{
    background-color: aquamarine;
    height: 100px;
    width: 100%;
}


